<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Infra Automation Test Suite">

	<listeners>
		<listener class-name="com.infra.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Free CRM App Test Cases">
		<classes>
			<class name="com.infra.testcases.LoginPageTest"></class>
			<class name="com.infra.testcases.HomePageTest"></class>
 			<class name="com.infra.testcases.ContactsPageTest"></class>
 
		</classes>
	</test>
</suite>